<div class="poll-question-answers">
  <% if @poll.validate_permission(current_user) && !question.poll.voted_in_booth?(current_user) %>
    <% if @answers_by_question_id.blank? && @token.blank? && @can_vote %>
      <% question.question_answers.each do |answer| %>
        <% if !@session_answers.blank? && @session_answers[question.id.to_s] == answer.id.to_s %>
          <%= link_to create_session_answer_question_path(question, answer_id: answer.id, token: token, poll_id: @poll), method: :post, remote: true  do %>
            <span class="button answered"
              title="<%= t("poll_questions.show.voted", answer: answer.title) %>">
              <%= answer.title %>
            </span>
          <% end %>
        <% else %>
          <% if session_answers.count < @poll.number_votes_allowed %>
            <%= link_to answer.title,
              create_session_answer_question_path(question, answer_id: answer.id, token: token, poll_id: @poll),
              method: :post,
              remote: true,
              title: t("poll_questions.show.vote_answer", answer: answer.title),
              class: "button secondary hollow js-question-answer" %>
          <% else %>
            <% if @session_answers[question.id.to_s].blank? %>
              <span class="button secondary hollow can-not-vote"><%= answer.title %></span>
            <% else %>
              <%= link_to answer.title,
              create_session_answer_question_path(question, answer_id: answer.id, token: token, poll_id: @poll),
              method: :post,
              remote: true,
              title: t("poll_questions.show.vote_answer", answer: answer.title),
              class: "button secondary hollow js-question-answer" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% if !@can_vote && @token.blank? %>
        <div class="poll-question-answer-access">
          <% question.question_answers.each do |answer| %>
            <span class="button secondary hollow disabled"><%= answer.title %></span>
          <% end %>
          <div class="participation-not-allowed" style='display:none' aria-hidden="false">
            <%= t("polls.show.already_voted_in_group_web") %>
          </div>
        </div>
      <% else %>
        <div class="poll-question-answer-access">
          <% question.question_answers.each do |answer| %>
            <span class="button secondary hollow disabled"><%= answer.title %></span>
          <% end %>
          <div class="participation-not-allowed" style='display:none' aria-hidden="false">
            <%= t("polls.show.already_voted_in_web") %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if @poll.access_level == 4 %>
      <div class="poll-question-answer-access">
        <% question.question_answers.each do |answer| %>
          <span class="button secondary hollow disabled"><%= answer.title %></span>
        <% end %>
        <div class="participation-not-allowed poll-span-not-allowed" style='display:none' aria-hidden="false">
          <div class="row size-span-poll">
            <div class="small-12 columns text-span-not-allowed">
              Esta votación solo puede ser efectuada por usuarios que acceden con DNIe.
            </div>
            <div class="row">
              <% if current_user.nil? %>
                <%= link_to "Iniciar sesión",
                      user_saml_omniauth_authorize_path,
                      title: "Iniciar sesión con Cl@ve",
                      class: "button button-span-not-allowed-poll" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <% if @poll.access_level == 3 %>
        <div class="poll-question-answer-access">
          <% question.question_answers.each do |answer| %>
            <span class="button secondary hollow disabled"><%= answer.title %></span>
          <% end %>
          <div class="participation-not-allowed poll-span-not-allowed" style='display:none' aria-hidden="false">
            <div class="row size-span-poll">
              <div class="small-12 columns text-span-not-allowed padding-40">
                Esta votación solo puede ser efectuada por usuarios que acceden con DNIe o certificado electrónico.
                Si ya cuentas con alguo de ellos
                  <%= link_to "accede por aquí",
                    user_saml_omniauth_authorize_path,
                    title: "Iniciar sesión con Cl@ave"
                  %>, o de lo contrario
                  <%= link_to "registrate",
                    '#',
                    data: {open: 'registration_modal'},
                    title: "registrate"
                  %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
  notVote();
  disabledButton();
</script>
